@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Poiret+One&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&family=Titillium+Web&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(161, 0, 35);
    width: 100vw;
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
}

/* MENU */

.navbar {
    display: flex;
    /* background-color: green; */
    background-color: rgb(161, 0, 35);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-left: 10px;
}

.navbar img {
    width: 50px;
    overflow: hidden;
}

.list {
    /* background-color: blue; */
    display: flex;
    gap: 100px;
    list-style: none;
}

.list li a:hover {
    background-color: #eee;
    padding: 15px;
    transition: 400ms;
    color: #000;
}

#toggle,
.navbar label {
    display: none;
}

/* MAIN SECTION */

#main {
    /* background-color: purple; */
    width: 100vw;
    height: 490px;
    display: flex;
    background-color: rgb(161, 0, 35);
}

.container-1 {
    width: 95%;
    height: 100%;
    background-color: rgb(161, 0, 35);
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-img {
    /* display: none; */
    width: 750px;
    z-index: 1;
    position: absolute;
}

.foreground-img {
    width: 800px;
    z-index: 2;
    position: absolute;
}

.container-2 {
    /* background-color: rgb(0, 204, 255); */
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(161, 0, 35);
}

.container-2 a {
    text-transform: uppercase;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: #ddd;
    font-size: 0.8rem;
}

.container-2 span {
    margin: 40px 40px;
    background-color: black;
}

/* LOW SECTION */
#low-end {
    padding: 10px;
    /* background-color: mediumvioletred; */
    width: 100vw;
    overflow: hidden;
    background-color: rgb(161, 0, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.left-case {
    /* background-color: rgb(74, 0, 109); */
    width: 350px;
    background: rgb(182, 1, 41);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 4px 3px 4px 1px rgb(63, 8, 25);
    cursor: pointer;
    transition: 500ms;
}

.left-case img {
    width: 100px;
}

.left-case div {
    /* background-color: blue; */
    width: 2px;
    background-color: #fff;
    height: 40px;
}

.left-case:hover {
    background-color: rgb(233, 14, 62);
}

.right-case {
    /* background-color: rgb(74, 0, 109); */
    width: 350px;
    background: rgb(182, 1, 41);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 4px 3px 4px 1px rgb(63, 8, 25);
    cursor: pointer;
    transition: 500ms;
}

.right-case img {
    width: 100px;
}

.right-case div {
    width: 2px;
    background-color: #fff;
    height: 40px;
}

.right-case:hover {
    background-color: rgb(233, 14, 62);
}

/*  RESPONSIVE */

@media screen and (max-width: 650px) {
    body {
        width: 100%;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    .navbar label {
        display: inline-flex;
        cursor: pointer;
    }
    #toggle:checked ~ .menu {
        max-height: 100%;
    }

    .navbar {
        padding: 0;
    }
    .logo {
        margin-left: 0px;
    }

    #main {
        display: block;
        width: 100%;
    }

    .container-1 {
        /* background-color: black; */
        width: 100%;
    }
    .container-2 {
        display: none;
    }

    .background-img {
        width: 450px;
    }
    .foreground-img {
        width: 450px;
    }

    #low-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        overflow: hidden;
    }
}
